@charset "ISO-8859-1";

* {
	font-family: sans-serif, Arial, Helvetica;
}

.container-editar-perfil {
	background-color: rgba(245, 245, 245, 0.9);
    border-radius:5px;
    width: 80%;
    margin: 0 auto;
}

.container-editar-perfil h2 {
	color: #7aac0b;
}

.container-editar-perfil form {
	margin: 30px;
}