* {
	font-family: sans-serif, Arial, Helvetica;
}

.container {
	margin: 0 auto;
	background-color: #7aac0b;
}


#perfil{
	font-family: 'Gabarito', sans-serif;
	transition: 0.5s;
	object-fit: cover;
}

#perfil:hover{
	transform: scale(1.1);
}

#cerrarSesion{
	transition: 0.5s;
	object-fit: cover;
}

#cerrarSesion:hover{
	transform: scale(1.2);
}

.bg-custom {
    background-color: #7aac0b;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.carousel-item.active .card img {
    height: 400px;
    object-fit: cover;
}

.segundo-carrusel {
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.7);
}

.cards-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.cards-wrapper .card {
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
}

.card-title,
.card-text,
.card-body a.btn {
    margin: 10px 0;
    text-align: center;
}

.card-body a.btn {
    display: block;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-eslogan {
    background-color: rgba(245, 245, 245, 0.9);
    border-radius:5px;
    width: 80%;
    margin: 0 auto;
    display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
    
}

.texto-eslogan {
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.texto-eslogan p, h3 {
	text-align: center;
}

.primer-parrafo {
	font-weight: bold;
}

.texto-eslogan h1 {
	color: #7aac0b;
	font-family: 'Mistral','Lucida Handwriting', 'cursive', sans-serif;
	font-size: 100px;
}

.texto-eslogan h3 {
	color: #7aac0b;
}

body {
  background-image: url(../public/img/fondov2.jpeg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

