
.container {
	margin: 0 auto;
	background-color: #447a1c;
}


#perfil{
	font-family: 'Gabarito', sans-serif;
	transition: 0.5s;
	object-fit: cover;
}

#perfil:hover{
	transform: scale(1.2);
}



.carousel-item {
  height: 400px;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.segundo-carrusel {
	margin: 0 auto;
}
/* Estilos para el carrusel de tarjetas */
.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px; /* Para ajustar el espacio entre las tarjetas */
}

.card {
    width: calc(33.33% - 30px); /* Para que haya 3 tarjetas por fila */
    margin: 15px; /* Espacio entre las tarjetas */
    box-sizing: border-box;
}

section .card {
	margin: 0 10px
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
