:root {
  --orange: #f19820;
  --light: #ffffff;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  color: var(--light);
}

.bg-dark {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7aac0b+0,719651+100 */
background: linear-gradient(to bottom,  #7aac0b 0%,#719651 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.bg-dark-x {
  background-color: var(--light);
}

.form-control,
.btn {
  min-height: 3.125rem;
  line-height: initial;
}
