@charset "ISO-8859-1";

body {
	background-image: url("../public/img/mantel2.png");
	background-repeat: repeat;
}

#titulo a{
	text-decoration:none;
	color:#ff8a49;
	
}

.cardContainer {
	display:flex;
	justify-content:space-evenly;
	border: 1px solid brown;
	border-radius:3px;
	background-color:#ffdb7fdb
}

.targeta {
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:white;
	border-radius:10px;
	padding:5px;
	width:220px;
	height:auto;
}

.targeta img {
	
	height:200px;
	width:150px;
}

#botones {
	display:flex;
	flex-direction:column;
}

#botones form, #botones a {
	margin: 2px 0px;
	
}

