@charset "ISO-8859-1";

/*
body {
	background-image: url("../public/img/mantel2.png");
	background-repeat: repeat;
}
*/

body {
  background-image: url(../public/img/fondov2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.contenido {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-top: 20px;
}

.divTitulo {
    display:flex;
    justify-content:space-around;
    align-items:center;
}
#containerTitulo {
	color: darkgreen;
}

.divTitulo div:nth-child(2) {
    display:flex;
    align-items:center;
}
.divTitulo div:nth-child(2) span {
    color: #306133;
    border: 1px solid black;
    border-radius:5px;
    padding:2px 5px;
}
#subTitulo p{
	color:#306133;
	border-radius:5px;
	font-family:cursive;
	text-transform:lowercase;
}

.divTitulo div:nth-child(3) p {
    display:flex;
    align-items:center;
    font-family:fantasy;
}

.divTitulo h1 {
    font-size:xxx-large;
    font-family:sans-serif;
	text-transform:capitalize;
}

#imagen-principal {
  display:flex;
  align-items:center;
  justify-content: space-around;
}

#imagen-portada-mostrar {
  width: 5
    600px; /* Ancho fijo de la galerÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â­a */
  height: 100px; /* Altura fija de la galerÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â­a */
}

.img{
  padding:20px;
}

.img img {
  width: 100;
  height: 100%;
}

#subTitulo {
  display:flex;
  justify-content:space-evenly;
}

#divBajoImagen {
  padding: 20px;
}

#divComentarios {
	margin-top: 10px;
}

.contenido {
	background-color: rgba(245, 245, 245, 0.8);
	border-radius: 5px;
}





