@charset "ISO-8859-1";

* {
	font-family: sans-serif;
}

/*
body {
	background-image: url("../public/img/mantel2.png");
	background-repeat: repeat;
}
*/

body {
  background-image: url(../public/img/fondov2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.contenido {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin-top: 20px;
}

#containerTitulo {
	color: #383b37;;
}

.divTitulo {
    display:flex;
    align-items:center;
    margin-top: 30px;
    justify-content: center;
}
.etiquetas span {
    color: white;
    background-color: #7aac0b;
    border-radius:5px;
    padding:2px 5px;
}
#subTitulo p{
	color:#383b37;
	border-radius:5px;
	font-family:cursive;
	text-transform:lowercase;
}
#subTitulo {
	margin-top: 20px;
	margin-bottom: 50px;
	
}

#divBajoImagen {
	margin-top: 100px;
	margin-bottom: 20px;
}

.divTitulo div:nth-child(3) p {
    display:flex;
    align-items:center;
}

.divTitulo h1 {
    font-size:xxx-large;
    font-family:sans-serif;
	text-transform:capitalize;
}

#imagen-principal {
  display:flex;
  align-items:center;
  justify-content: space-around;
}

#imagen-portada-mostrar {
  height: 100px; /* Altura fija de la galeria */
}

.img{
  padding:20px;
}

.img img {
  width: 100;
  height: 100%;
}


.contenido {
	padding: 50px;
}

#divComentarios {
	margin-top: 10px;
}

.bajo-titulo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.porciones-valoraciones {
	display: flex;
}

.contenido {
	background-color: rgba(245, 245, 245, 0.8);
	border-radius: 5px;
}

.calificar-estrellas {
	margin-top: 30px;
	margin-bottom: 50px;
}

.creador span {
	font-weight: bold;
	font-style: italic;
}

.creador {
	margin-bottom: 50px;
}





