@charset "ISO-8859-1";

*{
	font-family: sans-serif, Arial, Helvetica;
}
.foto {
	height: 350px;
	
}

.container-perfil {
	background-color: rgba(245, 245, 245, 0.9);
    border-radius:5px;
    width: 80%;
    margin: 0 auto;
}

.contenido-perfil {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.contenido-perfil .foto-perfil {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	margin: 50px;
}

.foto-perfil img {
	margin: 30px;
	font-size: medium;
}

.perfil {
	display: flex;
	text-align: start;
	align-items: center;
	margin: 20px;
	margin-left: 100px;
	font-size: medium;
}

.perfil span {
	font-weight: bold;
	color: #7aac0b;
}

.boton-perfil {
	display: flex;
	justify-content: center;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: whitesmoke;
    transform: translateX(-200px);
    transition: transform 0.5s, z-index 0.5s; /* Agregando transición de z-index */
    z-index: 2; /* Número mayor que el z-index de los elementos que quieres que aparezcan por debajo */
}

.sidebar.open {
    transform: translateX(0);
    z-index: 3; /* Asegurando que el sidebar abierto tenga un z-index mayor */
}

.sidebar h5 {
    margin-top: 100px;
    word-wrap: break-word;
}

.sidebar h5,
p,
ul {
    padding: 10px;
}

.sidebar li a {
    text-decoration: none;
    color: darkgreen;
}

.sidebar li {
    list-style-type: none;
    margin-bottom: 10px;
}

/* Estilo del elemento con la clase sidebar-toggle */
.sidebar-toggle {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

