/* estilos.css */

/* Estilos para el contenido principal */
.contenido {
    position: relative; /* Asegura que el contenido se sitúe por encima del sidebar */
    z-index: 1; /* Número menor que el z-index del sidebar */
}

.contenido p {
    margin: 10px 0;
}

#valoraciones {
    display: flex;
    flex-direction: row;
}

#buscador {
    margin-bottom: 30px;
}

.card.mb-3 {
    width: 100%;
    margin: 0 auto;
}

.card-body {
    height: 300px;
    overflow: hidden;
}

.card-text {
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    display: block;
    margin: 0 auto;
}

.col-md-4 {
    height: auto;
    background-size: cover;
    background-position: center center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#imagen-principal {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

form.input,
a {
    display: inline-block;
    margin: 0 10px;
}

.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
}

.average-rating::before {
    --percent: calc(4.3/5*100%);
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0.2);
    background:
    linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    direction: rtl;
}

.radio-input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.radio-label {
    cursor: pointer;
    font-size: 0;
    color: rgba(0,0,0,0.2);
    transition: color 0.1s ease-in-out;
}

.radio-label:before {
    content: "★";
    display: inline-block;
    font-size: 32px;
}

.radio-input:checked ~ .radio-label {
    color: #ffc700;
    color: gold;
}

.radio-label:hover,
.radio-label:hover ~ .radio-label {
    color: goldenrod;
}

.radio-input:checked + .radio-label:hover,
.radio-input:checked + .radio-label:hover ~ .radio-label,
.radio-input:checked ~ .radio-label:hover,
.radio-input:checked ~ .radio-label:hover ~ .radio-label,
.radio-label:hover ~ .radio-input:checked ~ .radio-label {
    color: darkgoldenrod;
}

.porciones-tiempo {
    display: flex;
    flex-direction: row;
}

.porciones-tiempo p {
    margin: 0 1rem;
}

.calificar-estrellas {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calificar-estrellas p {
    margin-right: 10px;
    cursor: pointer;
}

.calificar-estrellas p.active {
    color: orange;
}

#buscador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#buscador .form-control {
    max-width: 300px; /* Ajusta el ancho máximo según tus preferencias */
}

#buscador .btn-primary {
    margin-top: 1rem;
}

.barra-busqueda {
	display: flex;
	flex-direction: column;
}

.barra-busqueda header {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
}

.botones {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
}

.barra-busqueda {
	background-color: rgba(245, 245, 245, 0.8);
    border-radius:5px;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}

.container mt-4 {
	background-color: rgba(245, 245, 245, 0.8);
    border-radius:5px;
    width: 80%;
}






