.contenido {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

.contenido p {
    margin: 10px 0;
}

#valoraciones {
    display: flex;
    flex-direction: row;
}

#buscador {
    margin-bottom: 30px;
}

.card mb-3 {
    width: 100%;
    margin: 0 auto;
}

.card-body {
    height: 300px;
    overflow: hidden;
    gap: 10px;
}

.card-text {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#imagen-portada {
  display: flex;
  align-items: center;
}

#imagen-portada img {
  max-width: 300px;
  margin-right: 10px;
}

#imagen-portada-mostrar {
  display: flex;
  align-items: center;
}

#imagen-portada-mostrar img {
  max-width: 100%;
  max-height: 400px;
}

.col-md-4 {
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.col-md-8 {
	height: 300px;
}

form.input, a {
    display: inline-block;
    margin: 0 10px;
}


.average-rating {
    position: relative;
    appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
}

.average-rating::before {
    --percent: calc(4.3/ 5 * 100%);
    content: '★★★★★';
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0.2);
    background:
    linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}


.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    direction: rtl;
}

.radio-input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.radio-label {
    cursor: pointer;
    font-size: 0;
    color: rgba(0,0,0,0.2);
    transition: color 0.1s ease-in-out;
}

.radio-label:before {
    content: "★";
    display: inline-block;
    font-size: 32px;
}

.radio-input:checked ~ .radio-label {
    color: #ffc700;
    color: gold;
	
}

.radio-label:hover,
.radio-label:hover ~ .radio-label {
    color: goldenrod;
	
}

.radio-input:checked + .radio-label:hover,
.radio-input:checked + .radio-label:hover ~ .radio-label,
.radio-input:checked ~ .radio-label:hover,
.radio-input:checked ~ .radio-label:hover ~ .radio-label,
.radio-label:hover ~ .radio-input:checked ~ .radio-label {
    color: darkgoldenrod;
}



.calificar-estrellas {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.calificar-estrellas p {
    margin-right: 10px;
}

.contenido header {
    margin-top: 70px;
}

.container a {
    color:#447a1c;
}

.container {
	background-color: #7aac0b;
	border-radius:5px;
}

#mostrarPreparacion {
	white-space: pre-line;
}

#enviar-estrellas {
	display: flex;
	justify-content: flex-end;
	font-size: smaller;
}

.contenido header{
	display: flex;
	flex-direction: column;
	
}

.encabezado-buscador {
	background-color: rgba(245, 245, 245, 0.8);
    border-radius:5px;
}

.encabezado-buscador form {
	padding: 20px;
}

.contenido a {
	text-decoration: none;
	color: #7aac0b;
}

.contenido form a {
	color: white;
}